<% include partials/header %>

<div class="ui raised very padded text container segment" id="main_blog_container">
  <!-- ALERTS HERE -->
  <% if(typeof error != "undefined" && error.length > 0){%>
    <div class="ui red message"><%= error %></div>
  <% } %>
  <% if(typeof success != "undefined" && success.length > 0){%>
    <div class="ui green message"><%= success %></div>
  <% } %>
  <div class = "ui huge header">Login</div>
  <form class="ui form" action="/login" method="POST">
    <div class="ui input focus fluid">
      <input type="email" name="username" placeholder="email" required>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui input focus fluid">
      <input type="password" name="password" placeholder="password" required>
    </div>
    <div class="ui hidden divider"></div>
<button class="ui blue basic button" type="submit">Submit</button>
  </form>
</div>

<% include partials/footer %>
