<% include partials/header %>

<div class="ui raised very padded text container segment">
  <div class = "ui huge header">New Blog</div>
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>Title</label>
      <input name="blog[title]" placeholder="Title" type="text" maxlength="20" required>
    </div>
    <div class="field">
      <label>Image</label>
      <input name="blog[image]" placeholder="Image URL" type="url" required>
    </div>
    <div class="field">
      <label>Blog Post</label>
      <textarea name="blog[body]" placeholder="Enter text" required></textarea>
    </div>
    <button class="ui blue basic button" type="submit">Submit</button>
  </form>
</div>

<% include partials/footer %>
