<% include partials/header %>
<div class="ui raised very padded text container segment" id="main_blog_container">
  <!-- ALERTS HERE -->
  <% if(typeof error != "undefined" && error.length > 0){%>
    <div class="ui red message"><%= error %></div>
  <% } %>
  <div class = "ui huge header">Sign Up</div>
  <form class="ui form" action="/signup" method="POST">
    <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="firstName" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>

    <div class="field">
      <label>User Name</label>
      <input type="email" name="username" placeholder="Email" required>
    </div>
    <div class="ui hidden divider"></div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more characters" required>
    </div>
    <div class="ui hidden divider"></div>
    <div class="field">
      <input type="password" name="passwordConfirm" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 10 or more characters" required>
    </div>
    <div class="ui hidden divider"></div>
<button class="ui blue basic button" type="submit">Submit</button>
  </form>
</div>

<% include partials/footer %>
