<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "rusty"){%>
  <p>Good Choice! TUSTY IS THE BEST!</p>
<% } %>

<p>P.S this is the love.ejs file!</p>

I Love <%= 5+5 %>

<% include partials/footer %>
