<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>JackJack's Blog</title>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>
  <body>
    <div class="ui secondary pointing top fixed menu" id="menubar">
      <div class="ui container">
        <!-- Hidden Dropdown Menu -->
        <div class="dropdown">
          <span class="dropbtn item toggle_link toggle_button">  <i class="large code icon"></i></span>
          <div class="dropdown-content">
            <a class="item" href="/blogs">Home</a>
            <a class="item" href="/blogs/new">New Post</a>
            <% if(!user){ %>
              <a class="ui item" href="/signup">Sign Up</a>
              <a class="ui item" href="/login">Login</a>
            <% }else{ %>
              <a class="ui item" href="#">Logged on: <%=user.firstName%> <%=user.lastName%></a>
              <a class="ui item" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
        <!-- Active Menu -->
        <a class="active item" href="/">Blog Site</a>
        <a class="item toggle_item" href="/blogs">Home</a>
        <a class="item toggle_item" href="/blogs/new">New Post</a>
        <div class="right menu">
          <% if(!user){ %>
            <a class="ui item toggle_item" href="/signup">Sign Up</a>
            <a class="ui item toggle_item" href="/login">Login</a>
          <% }else{ %>
            <a class="ui item toggle_item" href="#">Logged on: <%=user.firstName%> <%=user.lastName%></a>
            <a class="ui item toggle_item" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
