<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center; padding: 25px;">Submit Campground!</h1>
    <div style="width: 30%; margin: auto;" >
      <form action="/index" method="post">
        <div class = "form-group">
          <input class="form-control" type="text" name="name" placeholder="Name"/>
        </div>
        <div class = "form-group">
          <input class="form-control" type="text" name = "img" placeholder="URL" />
        </div>
        <div class = "form-group">
          <input class="form-control" type="text" name="Description" placeholder="Description"/>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
