<% include ../partials/header %>

<div class="ui raised very padded text container segment">
  <div class = "ui huge header">Edit Comment</div>
  <form class="ui form" action="/blogs/<%=id%>/comment/<%=comment._id%>?_method=PUT" method="POST">
    <div class="field">
      <label>Blog Comment</label>
      <textarea name="comment[body]"><%=comment.body%></textarea>
    </div>
    <button class="ui blue basic button" type="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
